# Ignore everything by default
*

# Unignore directories
!*/

# Unignore specific frontend files
!index.html
!dashboard.html
!nixpacks.toml
!.gitignore

# Unignore assets directories content
!js/**
!css/**
!img/**
!fonts/**
